/*** close icon ***/

.icon-close {
  display: inline-block;
  position: absolute;	
  top: calc(-50px );
  right: calc(0px);	
  font-size: 37px;	
  color: gray;
  z-index: 3;
  transition: 0.2s;      
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
	  
.icon-close:hover,
.icon-close:focus {         
  text-decoration: none;
  cursor: pointer;
  color: silver; 	  
}

	  
@media screen and (orientation: landscape) {
  /* TODO - for inscription Close */
  /*
  .icon-close::before {
  
    content: "Close";
    position: absolute; 
    font-size: 1rem;
    font-weight: bold;
    top: calc(-5px);
    right: calc(37px);
     
  }*/
 
  /* TODO - for the "cross in a square" icon (or class="fas fa-window-close") */
  /*
  .icon-close::before {
  
    content: "\f410";
    position: absolute; 
    font-size: 37px;
    /*font-weight: bold; /* add for fat
    top: calc(-20px);
    right: calc(37px);
     
  }
  */
  
  /* TODO - for the "cross" icon */
  /*
  .icon-close::before {
  
    content: "\f00d";
    position: absolute; 
    font-size: 37px;
    font-weight: bold; /* does not work without bold 
    top: calc(-10px);
    right: calc(-37px);
     
  }
  */
  
  /* TODO - for &times; between tags */
  /*
  .icon-close {
    
    position: absolute; 
    font-size: 37px;    
    top: calc(-10px);
    right: calc(-40px);
     
  }
  */
    
  .icon-close {   
    content: "\f057";
    position: absolute;
    top: calc(0px);
    right: calc(-50px);
    font-size: 37px;
    /*font-weight: bold;*/    
     
  }

}	

.cart {
  position: fixed; 
  top: 20px;
  right: 20px;
  font-size: 16px;      
}

.cart-icon {
  font-size: 1.5em;               
  color: #9ec5d9;
  cursor: pointer;
}

.total-items-circle {
  display: flex;
  flex-direction: row;		 
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: -50%;
  right: -50%; 
  width: 0.7em; 
  height: 0.7em; 
  padding : 5px; 
  border-radius: 50%; 
  background: #ffb328; /* #f07c13 */
}

.total-items {
  font-size: 0.9em;    
  color: #ffffff;
}

.card-product {
  padding: 10px;
}

.card-flex-box {
  display: flex;
  flex-direction: column;		 
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  
}

.card-preview {
  position: relative;
  display: block;  
  width: 200px; 
  height: 200px; 
  margin: 20px 0;
  object-fit: cover;                
    
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card-preview-box {
  position: relative;
}

.card-preview-span {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 8px;
  cursor: pointer;
  background: #ffffff;
}

.card-preview:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.add-cart {
  font-size: 18px;
  outline: none;
  border: 1px solid #ffb328; /* none */
  border-radius: 5px;
  background: transparent;
  padding: 3px 5px; /* 0 */
  cursor: pointer;
  color: #ffb328;
}

.viewed {
  margin: 20px;
}

.scroll {
  overflow-y: hidden;
}

